{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<br><br><br><br><br>
<div>
<div style="text-align: center;align-items: center;justify-content: center;">
    <h2 class="white">Forgot Password</h2>
</div>

{% include 'main/alerts.html' %}
<div class="container" style="justify-content: center;align-items: center;width: 100%;padding-top: 80px;">
    <div class="form-area">
        
        <div class="tab-content">
            <div class="tab-pane fade show active" id="loginArea" role="tabpanel"
                aria-labelledby="loginArea-tab">
                <div class="login-reg-content">
                    <div>
                        <div class="form-area">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="container">
                                    <div class="row">
                                        <div class="single-input col-md-12 col-sm-12 col-xs-12">
                                            {{ form.as_p }}
                                        </div>
                                        
                                    </div> 
                                    
                                    
                                    <br>
                                    <span class="btn-border w-100">
                                        <button class="cmn-btn w-100">Reset</button>
                                    </span>
                                </div>
                            </form><br>
                            <div class="bottom-area text-center">
                                <p>Got Password? <a href="{% url 'accounts:login' %}" class="reg-btn">Login</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
    </div>
</div>
{% endblock %}
